/*The following is an example of how to use the Corben Google Font 
within the CSS document:

font-family: 'Corben', cursive;

h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }

*/

html{
    width: 100%;
    height: 100%;
    background-color: #6A4E00;
}

body{
    position: relative;
}

.outerbox{
    position: relative;
    top: 25px;
    margin: auto;
    width: 935px;
    height: 640px;
    border: #DBAC00 solid 10px;
    border-radius: 100px;
}

.innerbox{
    position: relative;
    top: -617px;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 603px;
    border: #CFC600 solid 10px;
    border-radius: 85px;
}

.titleline-1{
    position: relative;
    text-align: center;
    margin-top: 15px;
    font-family: 'Corben';
    font-weight: 700;
    font-size: 1em;
    color: #DBAC00;
}

.titleline-2{
    position: relative;
    text-align: center;
    margin-top: 15px;
    font-family: 'Corben';
    font-weight: 700;
    font-size: 3em;
    color: #DBAC00;
}

.info{
    position: relative;
    width: 900px;
    height: 450px;
}

.intro{
    position: relative;
    top: 25px;
    text-align: center;
    font-family: 'Corben';
    color: #DBAC00;
    letter-spacing: .04em;
}

.arch{
    position: relative;
    top: 25px;align-content;
}

.startquiz{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-color: #DBAC00;
    border-style: solid;
    background-color: #6A4E00;
    color: #DBAC00;
    font-family: 'Corben';
    font-weight: 700;
}

button:hover{
    background-color: #DBAC00;
    color: #6A4E00;
    cursor: pointer;
}

.questions{
    display: none;
    position: relative;
    top:20px;
    left:50px;
    width: 800px;
    color: #DBAC00;
    font-family: 'Corben';
    font-size: 1.05em;
    line-height: 120%;
    letter-spacing: .04em
}

.images{
    display: none;
    position: relative;
    top: 80px;
    left: 75px;
    width: 396px;
}


.answers{
    position: relative;
    display: none;
    width: 300px;
    top: -235px;
    left: 550px;
}

li button{
    margin-bottom: 59px;
    width: 300px;
    border-radius: 10px;
    background-color: #6A4E00;
    border-color: #DBAC00;
    border-style: solid;
    font-family: 'Corben';
    font-weight: 700;
    font-size: 1em;
    color: #DBAC00;
}

button:focus{
    outline: none;
}

.footer {
    display: none;
    text-align: center;
}

.score{
    position: relative;
    text-align: center;
    width: 100px;
    margin:auto;
    top: -220px;
    font-family: 'Corben';
    font-weight: 700;
    color: #DBAC00;
    letter-spacing: .05em
}


.count{
    position: relative;
    width: 150px;
    text-align: center;
    top: -237px;
    left: 50px;
    font-family: 'Corben';
    font-weight: 700;
    color: #DBAC00;
    letter-spacing: .05em
}

.next button{
    position: relative;
    top: -29px;
    width: 80px;
    left: 120px;
    border: none;
    background-color: transparent;
}

.next {
    display: none;
    position: relative;
    width: 150px;
    height: 20px;
    top: -255px;
    left: 630px;
    font-family: 'Corben';
    font-weight: 700;
    color: #DBAC00;
}
